.top{
    background-image: url("../assets/images/backupground.png");
    margin:50px 100px ;
    border-style:groove ;
    padding:10px;
    text-align:center;
    border-radius:10px;
}

.header > .home{
    width:100%;
}

.home{
    width: 250px;
    color:white;
    font-size:30px;
    float:right;
}
.navbar{
    font-weight:bolder;
    font-family: "Papyrus";
}


.name{
    line-height:10px;
    color:black;
    font-weight:normal;
}
.logo{
    background-image: url("../assets/images/background.png");
    margin:10px 10px 10px 10px;
}
.header-name{
    font-family: "Papyrus", sans-serif;
    color:grey;
    line-height: .5;
}
.professional-summary, h3{
    font-family: "Papyrus", sans-serif;
}
.summary-header,li,p{
    letter-spacing: 1.5px;
/*    font-family: "Helvetica", sans-serif;*/
}
.summary-header{
    margin-top:-20px;
    border-style:groove ;
    padding:5px 10px;
    border-radius: 5px;
    text-align: justify;
}
h3{
    background-image: url("../assets/images/line-breaker.png");
}
.container{
    font-size:20px;
    font-weight:bolder;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color:black;
}
.major{
    font-weight: bold;
}
.certifications{
    font-weight: bold;
}
.img{
    height:30px;
    width:80px;
    margin:0px;
    background-color:white;
}

.footer{
    font-family:"Times New Roman", "Serif";
    color:white;
    background-color:grey;
}
.ako{
    border-radius:50%;
    border-style:groove;
    border-block-style: solid;
}
/*Assignments*/


