*{
    background-color:whitesmoke;
}
.header-name{
    font-family: "Papyrus";
    color:cadetblue;
    line-height: .5;
}.header-title{
    font-family: "Courier New";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;

}
.professional-summary, h3{
    font-family: "Papyrus";
}
.summary-header{
    letter-spacing: 1.5px;
    font-family: "Courier New";

}
h2,h3{
    background:silver;
}
h4, li{
    font-family: "Courier New";
}

.hired-date{
    float:right;
    font-weight: bold;
}
p{
    color:black;
}
.major{
    font-weight: bold;
}
.certifications{
    font-weight: bold;
}




