*{
    background-color:whitesmoke;
}
.top{
    background-image: url("../assets/images/background.png");
    margin:40px 150px;
    border-style:groove ;
    padding:10px;
    text-align:center;
    border-radius: 5px;
    background-color:blanchedalmond;
}
.name{
    line-height:10px;
    color:white;
    background-image: url("../assets/images/background.png");
    font-weight:normal;
/*    margin:100px 250px;*/
}
.logo{
/*    margin:500px 480px;*/
/*    padding:1px;*/
}
.header-name{
    font-family: "Papyrus", sans-serif;
    color:grey;
    line-height: .5;
}.header-title{
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;

}
.professional-summary, h3{
    font-family: "Papyrus", sans-serif;
}
.summary-header, h4, li,p{
    letter-spacing: 1.5px;
    font-family: "Helvetica", sans-serif;
}
.summary-header{
    margin-top:-20px;
    border-style:groove ;
    padding:5px 10px;
    border-radius: 5px;
    text-align: justify;
}
h3{
    background:silver;
}

.hired-date{
    float:right;
    font-weight: bold;
}
p{
    color:black;
}
.major{
    font-weight: bold;
}
.certifications{
    font-weight: bold;
}
.img{
    height:30px;
    margin:0px;
}
.header-title{
    line-height: 1px;
}




