.certificate{
    text-align:center;
    font-family:"Papyrus", "Serif";
    color:black;
    background-image:url("../assets/images/certbackground.gif");
    padding-bottom:100px;
    padding-top:50px;
}
.cert{
    width:600px;
}
.small-gif{
    width:32;
}
.header{
    padding:20px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    color:whitesmoke;
    -webkit-backface-visibility: hidden;
}

.home{
    width: 250px;
    font-size:30px;
    color:white;
}
.tabs{
    float:right;
    font-size:30px;
    width: 250px;
    color:white;
}

.tabs:hover, .home:hover{
    text-decoration: underline;
    color: antiquewhite;
    font-weight:bolder;
}
.footer{
    font-family:"Times New Roman", "Serif";
    color:white;
    background-color:grey;
}